@model IEnumerable<MvcStore.Models.ShoppingCart> 
@{double a = 0.0;}
@{
    ViewData["Title"] = "Index";
}

<h1>Your Shopping Cart</h1>

<p>
     <form asp-action="ShopView">
    <input type="submit" value="Shop For Pets" class="btn btn-primary" /> 

    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name 
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var Cart in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Cart.Pets.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Cart.Pets.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Cart.Pets.Description)
            </td>
            <th>
                @Html.DisplayFor(modelItem => Cart.Quantity)
            </th>
            <th>
                @(Cart.Quantity * Cart.Pets.Price)
                
                @{a += Cart.Quantity * Cart.Pets.Price;}
            </th>
            <td>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <a asp-action="Delete" asp-route-id="@Cart.Pets.PetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
    
</table>

<tr>Your Session Total: $@a</tr>
